

{% block answer %}
<div style="position: absolute; top: 100px; left: 300px; ">
    {% if needed_course %}
    {{ needed_course }}
    {% else %}
    {{ error }}
    {% endif %}
</div>



{% endblock %}

